{% extends 'milheiro/skeleton.html' %}
{% load static tailwind_filters crispy_forms_tags %}

{% block extrahead %}
    <style>
        form > div > label {
            color: #fff!important;
        }

        .asteriskField {
            color: #dc2626!important;
            margin-left: 0.5rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="flex min-h-screen flex-col justify-between p-8 font-[family-name:var(--font-geist-sans)] sm:p-20">
        <main class="flex flex-grow flex-col items-center justify-center">
            <form method="post" class="space-y-6">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="flex flex-row gap-8">
                    <button type="submit" class="bg-green-600/40 rounded-lg p-2 hover:bg-green-600/60">Adicionar
                    </button>
                    <button type="button" class="bg-red-600/40 rounded-lg p-2 hover:bg-red-600/60"
                            onclick="window.location.href='{% url 'milheiro:plataforma' %}'">Cancelar
                    </button>
                </div>
            </form>
        </main>
        <footer class="mt-8 text-center text-sm text-gray-500"></footer>
    </div>
{% endblock %}