{% extends 'milheiro/skeleton.html' %}
{% load static %}

{% block content %}
    <div class="flex min-h-screen flex-col justify-between p-8 font-[family-name:var(--font-geist-sans)] sm:p-20">
        <main class="flex flex-grow flex-col items-center justify-center">
            <div>Não sabe onde começar? Calcule aqui suas milhas de forma fácil e sem dor de cabeça.</div>
            <div class="mt-4"></div>
            <a href="{% url 'milheiro:plataforma' %}" class="text-blue-500 hover:underline">Gerenciar Plataformas</a>
            <a href="{% url 'milheiro:pontos' %}" class="text-blue-500 hover:underline">Gerenciar Pontos</a>
        </main>
        <footer class="mt-8 text-center text-sm text-gray-500"></footer>
    </div>
{% endblock %}