{% extends 'milheiro/skeleton.html' %}
{% load static %}

{% block content %}
    <div class="flex min-h-screen flex-col justify-between p-8 font-[family-name:var(--font-geist-sans)] sm:p-20">
        <main class="flex flex-grow flex-col items-center justify-center gap-8">
            <div><a href="{% url 'milheiro:index' %}" class="hover:text-blue-800">Home</a> > Gerencia de Plataformas</div>
            <a href="{% url 'milheiro:plataforma_add' %}" class="group flex flex-col gap-4 justify-center items-center rounded-xl cursor-pointer h-40 w-40 bg-neutral-800 text-white group-hover:fill-blue-200 ease-in-out">
                {% include 'svg/add_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg' %}
                <span class="w-fit h-fit group-hover:text-blue-200">Nova Plataforma</span>
            </a>
            <table class="block border-gray-200 border-spacing-none border-separate w-1/2 xl:w-1/3 lg:table">
            <thead>
                <tr>
                    <th class="align-middle font-semibold py-2 text-left text-font-important-light dark:text-font-important-dark whitespace-nowrap hidden px-3 lg:table-cell">Nome</th>
                    <th class="align-middle font-semibold py-2 text-left text-font-important-light dark:text-font-important-dark whitespace-nowrap hidden px-3 lg:table-cell">Custo por Ponto</th>
                    <th class="align-middle font-semibold py-2 text-left text-font-important-light dark:text-font-important-dark whitespace-nowrap hidden px-3 lg:table-cell">Deletar</th>
                </tr>
            </thead>

            <tbody class="block lg:table-row-group text-left">
            {% for plataforma in plataformas %}
                <tr class="{% cycle '' 'bg-gray-50 dark:bg-white/[.04]' %} block border mb-3 rounded-md shadow-sm lg:table-row lg:border-none lg:mb-0 lg:shadow-none dark:border-gray-800">
                    <th><a href="{% url 'milheiro:plataforma_change' pk=plataforma.id %}">{{ plataforma.nome }}</a></th>
                    <th>{{ plataforma.custo_ponto }}</th>
                    <th><a href="{% url 'milheiro:plataforma_del' pk=plataforma.id %}" hx-confirm="true" class="text-red-600">X</a></th>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </main>
        <footer class="mt-8 text-center text-sm text-gray-500"></footer>
    </div>
{% endblock %}